<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <title>受講生情報更新</title>
</head>
<body>
<h1>受講生情報更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="studentId">受講生ID：</label>
    <input type="text" id="studentId" th:field="*{student.studentId}" th:readonly="${true}"/>
  </div>
  <div>
    <label for="fullname">名前:</label>
    <input type="text" id="fullname" th:field="*{student.fullname}" required/>
  </div>
  <div>
    <label for="furigana">ふりがな:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="gender">性別:</label>
    <select id="gender" th:field="*{student.gender}" required>
      <option value="男">男</option>
      <option value="女">女</option>
      <option value="その他">その他</option>
    </select>
    <br>
  </div>
  <div>
    <label for="mailaddress">メールアドレス:</label>
    <input type="text" id="mailaddress" th:field="*{student.mailaddress}" required/>
  </div>
  <div>
    <label for="area">お住まいの地域:</label>
    <input type="text" id="area" th:field="*{student.area}" required/>
  </div>
  <div>
    <label for="remark">備考欄:</label>
    <input type="text" id="remark" th:field="*{student.remark}" required/>
  </div>
  <div>
    <label for="isDeleted">退会:</label>
    <input type="checkbox" id="isDeleted" th:field="*{student.Deleted}"/>
  </div>
  <div th:each="course,stat : *{studentCourses}">
    <label for="courseId"
           th:for="studentCourse.__${stat.index}__.courseId">受講コースID：</label>
    <input type="text" id="courseId" th:id="studentCourse.__${stat.index}__.courseId"
           th:field="*{studentCourses[__${stat.index}__].courseId}"/>
    <label for="courseName"
           th:for="studentCourse.__${stat.index}__.courseName">受講コース名：</label>
    <input type="text" id="courseName" th:id="studentCourse.__${stat.index}__.courseName"
           th:field="*{studentCourses[__${stat.index}__].courseName}"/>
    <label for="dateStart"
           th:for="studentCourse.__${stat.index}__.dateStart">受講開始日：</label>
    <input type="date" id="dateStart"
           th:id="studentCourses.__${stat.index}__.dateStart"
           th:field="*{studentCourses[__${stat.index}__].dateStart}"/>
    <label for="dateFinish"
           th:for="studentCourse.__${stat.index}__.dateFinish">受講開始日：</label>
    <input type="date" id="dateFinish"
           th:id="studentCourses.__${stat.index}__.dateFinish"
           th:field="*{studentCourses[__${stat.index}__].dateFinish}"/>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>
